.idea
.pytest_cache
Release
*.pyc
*.pyd
*.so
*.o
**/__pycache__
.venv

build/
dist/
wheelhouse/
curl.egg-info/
curl_cffi.egg-info/
# curl_cffi/const.py
curl-*/
*.tar.xz
*.tar.gz
.preprocessed
include/
.DS_Store

.mypy_cache/
.ruff_cache/
