name: Build, test and release
on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
      - bugfix/*
      - feature/*
    tags:
      - v*

permissions:
  contents: write

jobs:
  sdist:
    name: Build sdist wheel
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: |
          make preprocess
          pipx run build --sdist
      - uses: actions/upload-artifact@v3
        with:
          path: ./dist/*.tar.gz

      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - run: |
          pip install ./dist/*.tar.gz

  bdist:
    name: Build bdist wheels and test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-22.04, macos-12, macos-14, windows-2019]
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - if: runner.os == 'Linux'
        uses: docker/setup-qemu-action@v2
        with:
          platforms: all

      # macOS make is too old
      - if: runner.os == 'macOS'
        run: |
          brew install make automake libtool
          which pipx || brew install pipx && pipx ensurepath

      - name: Build and test wheels
        uses: pypa/cibuildwheel@v2.16.5

      # - name: Setup tmate session
      #   uses: mxschmitt/action-tmate@v3

      - uses: actions/upload-artifact@v3
        with:
          path: ./wheelhouse/*.whl

  upload_all:
    needs: [bdist, sdist]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/download-artifact@v3
      if: startsWith(github.ref, 'refs/tags/')
      with:
        name: artifact
        path: dist

    - uses: pypa/gh-action-pypi-publish@v1.5.0
      if: startsWith(github.ref, 'refs/tags/')
      with:
        password: ${{ secrets.PYPI_TOKEN }}

    - name: Upload release files
      if: startsWith(github.ref, 'refs/tags/')
      uses: softprops/action-gh-release@v1
      with:
        files: |
          ./dist/*.whl
          ./dist/*.tar.gz
