name: Test pro features
on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
      - bugfix/*
      - feature/*
      - release/*
      - chore/*
    tags:
      - v*

permissions:
  contents: write

env:
  CIBW_TEST_COMMAND: "pytest {project}/tests/pro"

jobs:
  bdist:
    name: Build bdist wheels and test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-24.04, macos-13, macos-14, windows-2022, windows-11-arm]
    steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-python@v5
      with:
        python-version: '3.11'

    - if: runner.os == 'Linux'
      uses: docker/setup-qemu-action@v3
      with:
        platforms: all

    # macOS make is too old
    - if: runner.os == 'macOS'
      run: |
        brew install make automake libtool

    - name: Build and test wheels
      uses: pypa/cibuildwheel@v3.3.1
