name: test
on:
  push:
    branches:
      - main
      - master
      - bugfix/*
      - feature/*
jobs:
  bdist:
    name: build bdist wheels and test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        # os: [ubuntu-22.04, macos-11, windows-2019]
        os: [ubuntu-22.04, macos-11]
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - if: runner.os == 'Linux'
        uses: docker/setup-qemu-action@v2
        with:
          platforms: all
      # macOS make is too old
      - if: runner.os == 'macOS'
        run: brew install make
      - name: Build
        uses: pypa/cibuildwheel@v2.12.0
        env:
          # configure cibuildwheel to build native archs ('auto'), and some emulated ones
          CIBW_ARCHS_LINUX: auto aarch64
      - uses: actions/upload-artifact@v3
        with:
          path: ./wheelhouse/*.whl
